<include file="Public:head"/>
<link rel="stylesheet" href="/Public/page.css">
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            管理团队列表
            <small>公司领导简介</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><i class="fa fa-users"></i> 公司介绍</li>
            <li class="active"><i class="fa fa-user"></i> 管理团队列表</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-12 margin-bottom">
                <div class="col-lg-6">
                    <a href="{:U('Index/manageAdd')}"><input type="button" class="btn btn-info" value="添加"></a>
                </div>
                <!--<form action="" method="get">-->
                    <!--<div class="input-group col-lg-6">-->
                    <!--<input type="search" class="form-control" name="UserName" placeholder="请输入要搜索的用户名或手机">-->
                    <!--<span class="input-group-btn"><button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button></span>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
            <volist name="Ulist" id="vo">
            <div class="col-lg-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" style="height:100px;" src="{$vo.imgUrlMob}">
                        <h3 class="profile-username text-center">　{$vo.position}　</h3>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item"><b>排序</b> <a class="pull-right">{$vo.level}</a></li>
                            <li class="list-group-item"><b>上次更新时间</b> <a class="pull-right">{$vo.UpdateTime|date="Y-m-d",###}</a></li>
                            <li class="list-group-item"><b>状态</b><a class="pull-right"><if condition="$vo['Status'] eq 1">显示<else/>隐藏</if></a></li>
                        </ul>
                        <a class="btn btn-primary btn-block" href="{:U('Index/manageAdd',array('ID'=>$vo['ID'],'type'=>1))}"><i class="fa fa-pencil-square-o"></i> 修改</a>
                        <if condition="$vo.Status eq 1">
                            <a class="btn btn-danger btn-block" href="{:U('Index/manageChange',array('ID'=>$vo['ID'],'status'=>0))}"><i class="fa fa-lock"></i> 隐藏</a>
                            <else/>
                            <a class="btn btn-success btn-block" href="{:U('Index/manageChange',array('ID'=>$vo['ID'],'status'=>1))}"><i class="fa fa-unlock"></i> 显示</a>
                        </if>
                        <a class="btn btn-warning btn-block" href="{:U('User/delUser',array('ID'=>$vo['ID']))}" onclick="if(confirm('确定删除?')==false)return false;"><i class="fa fa-trash"></i> 删除</a>
                    </div>
                </div>
            </div>
            </volist>
        </div>
        <div class="row">
            <div class="col-lg-12 yahoo2">
                {$Page}
            </div>
        </div>
    </section>
</div>
<include file="Public:footer"/>