<include file="Public:head"/>
<script type="text/javascript" charset="utf-8" src="/Public/utf8-php/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/utf8-php/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/utf8-php/lang/zh-cn/zh-cn.js"></script>
<div class="content-wrapper">
    <section class="content-header">
        <h1>商务合作留言</h1>
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}"><i class="fa fa-home"></i> 首页</a></li>
            <li class="">
                <i class="fa fa-gears"></i> 联系我们
            </li>
            <li class="active">
                <i class="fa fa-desktop"></i> 商务合作留言
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 margin-bottom" style="margin: 0 15px 10px 0;">
                <a href="{:U('Index/message',array('Status'=>0))}" class="btn btn-warning"><i class="fa fa-list"></i>
                    未处理</a>
                <a href="{:U('Index/message',array('Status'=>1))}" class="btn btn-success"><i class="fa fa-list"></i>
                    已处理</a>
            </div>
        </div>
        <table class="table table-striped">
            <caption>商务留言列表</caption>
            <thead>
            <tr>
                <th>名字</th>
                <th>单位</th>
                <th>职位</th>
                <th>联系方式</th>
                <th>合作需求</th>
                <if condition="$Think.Get.Status eq 0">
                    <th>操作</th>
                    <else/>
                    <th>状态</th>
                </if>
            </tr>
            </thead>
            <tbody>
            <foreach name="messageInfo" item="vo">
                <tr>
                    <td>{$vo.name}</td>
                    <td>{$vo.workplace}</td>
                    <td>{$vo.job}</td>
                    <td>{$vo.tel}</td>
                    <td>{$vo.content}</td>
                    <if condition="$vo.Status eq 0">
                        <td><a href="{:U('Index/messageStatusChange',array('messageID'=>$vo['ID']))}"
                               class="btn btn-info" onclick="if(confirm('该留言已处理完毕?')==false)return false;">已处理</a></td>
                        <else/>
                        <td>处理完毕</td>
                    </if>
                </tr>
            </foreach>
            </tbody>
        </table>
    </section>
    <div class="row text-center">
        {$show}
    </div>
</div>
<include file="Public:footer"/>