.main{
    width:100%;
    height: 600px;
    padding:0!important;
    position: relative;
    .swiper-container{
        widows: 100%;
        height: 100%;
    }
    .mask{
        position: absolute;
        left: 0;
        bottom: 0;
        width:100%;
        height: 120px;
        background:rgba(0,0,0,0.3);
        z-index: 999;
    }
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 40%;
    bottom: 3px;
    width: 20%;
}