<include file="Public:header"/>

<link rel="stylesheet" href="/AppPublic/css/swiper.min.css">
<link rel="stylesheet" href="/AppPublic/css/index.css">
<div class="main col-lg-12 col-md-12 hidden-sm hidden-xs">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href=""><img src="/AppPublic/image/swiper1.jpeg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/AppPublic/image/swiper2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/AppPublic/image/swiper3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/AppPublic/image/swiper1.jpeg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/AppPublic/image/swiper2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/AppPublic/image/swiper3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/AppPublic/image/swiper1.jpeg" alt=""></a>
            </div>
        </div>
        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>
    <div class="mask">
        
    </div>
</div>

<include file="Public:footer"/>

<script src="/AppPublic/js/jquery.min.js"></script>
<script src="/AppPublic/js/swiper.min.js"></script>
<script src="/AppPublic/js/base.js"></script>
<script src="/AppPublic/js/index.js"></script>